<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %> - <%= attachments[0].username %>'s Gallery</title>
  <link href="/css/bootstrap.css" rel="stylesheet" />
  <link href="/css/normalize.css" rel="stylesheet" />
  <link href="/css/lightbox.css" rel="stylesheet" />
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
  <link href="/css/style.css" rel="stylesheet" />
  <link rel="shortcut icon" href="https://media.discordapp.net/attachments/1057736522213892176/1064567519077224539/Untitled2213_20221031171901.png" type="image/png">
  <meta name="referrer" content="no-referrer">
  <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
</head>
<body>