<nav class="nav-bar nav-bar--browser sticky-top">
   <div class="top-bar">
      <div class="settings-bar">
         <button class="tab tab--settings" title="Settings" aria-label="Settings">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16" aria-hidden="true">
               <path
                  d="M8 4.754a3.246 3.246 0 1 0 0 6.492 3.246 3.246 0 0 0 0-6.492zM5.754 8a2.246 2.246 0 1 1 4.492 0 2.246 2.246 0 0 1-4.492 0z">
               </path>
               <path
                  d="M9.796 1.343c-.527-1.79-3.065-1.79-3.592 0l-.094.319a.873.873 0 0 1-1.255.52l-.292-.16c-1.64-.892-3.433.902-2.54 2.541l.159.292a.873.873 0 0 1-.52 1.255l-.319.094c-1.79.527-1.79 3.065 0 3.592l.319.094a.873.873 0 0 1 .52 1.255l-.16.292c-.892 1.64.901 3.434 2.541 2.54l.292-.159a.873.873 0 0 1 1.255.52l.094.319c.527 1.79 3.065 1.79 3.592 0l.094-.319a.873.873 0 0 1 1.255-.52l.292.16c1.64.893 3.434-.902 2.54-2.541l-.159-.292a.873.873 0 0 1 .52-1.255l.319-.094c1.79-.527 1.79-3.065 0-3.592l-.319-.094a.873.873 0 0 1-.52-1.255l.16-.292c.893-1.64-.902-3.433-2.541-2.54l-.292.159a.873.873 0 0 1-1.255-.52l-.094-.319zm-2.633.283c.246-.835 1.428-.835 1.674 0l.094.319a1.873 1.873 0 0 0 2.693 1.115l.291-.16c.764-.415 1.6.42 1.184 1.185l-.159.292a1.873 1.873 0 0 0 1.116 2.692l.318.094c.835.246.835 1.428 0 1.674l-.319.094a1.873 1.873 0 0 0-1.115 2.693l.16.291c.415.764-.42 1.6-1.185 1.184l-.291-.159a1.873 1.873 0 0 0-2.693 1.116l-.094.318c-.246.835-1.428.835-1.674 0l-.094-.319a1.873 1.873 0 0 0-2.692-1.115l-.292.16c-.764.415-1.6-.42-1.184-1.185l.159-.291A1.873 1.873 0 0 0 1.945 8.93l-.319-.094c-.835-.246-.835-1.428 0-1.674l.319-.094A1.873 1.873 0 0 0 3.06 4.377l-.16-.292c-.415-.764.42-1.6 1.185-1.184l.292.159a1.873 1.873 0 0 0 2.692-1.115l.094-.319z">
               </path>
            </svg>
         </button>
      </div>
      <div class="tab-bar">
         <a class="tab tab--page" href="#">
            <h6>Home Tab</h6>
         </a>
         <a class="tab tab--page" href="#">
            <h6>Home Tab</h6>
         </a>
         <a class="tab tab--page" href="#">
            <h6>Home Tab</h6>
         </a>
         <a class="tab tab--page" href="#">
            <h6>Home Tab</h6>
         </a>
         <a class="tab tab--page" href="#">
            <h6>Home Tab</h6>
         </a>
      </div>
      <div class="action-bar action-bar--browser">
         <button title="List all tabs" class="action action--browser action--list-tabs">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
               <path 
                  fill-rule="evenodd" 
                  d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z">
               </path>
            </svg>
         </button>
         <span class="separator"></span>
         <button title="Minimize" class="action action--browser action--minimize">_</button>
         <button title="Restore Down" class="action action--browser action--restore-down">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16" aria-hidden="true">
               <path
                  d="M4.5 6a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1ZM6 6a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1Zm2-.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0Z">
               </path>
               <path
                  d="M12 1a2 2 0 0 1 2 2 2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2 2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h10ZM2 12V5a2 2 0 0 1 2-2h9a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1Zm1-4v5a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V8H3Zm12-1V5a1 1 0 0 0-1-1H4a1 1 0 0 0-1 1v2h12Z">
               </path>
            </svg>
         </button>
         <button title="Close" class="action action--browser action--close">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16" aria-hidden="true">
               <path
                  d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z">
               </path>
            </svg>
         </button>
      </div>
   </div>
   <div class="bottom-bar">
      <% if (totalPages > 0) { %>
         <ul class="pagination--zarcka-custom">
            <% if (page == 1) { %>
               <a aria-label="Previous" class="URL-bar--previous tab disabled">
                  <span aria-hidden="true">&laquo;</span>
               </a>
            <% } else { %>
               <% if (page >= 2) { %>
                     <a href="?page=<%= Number(page) - 1 %>" class="URL-bar--previous tab" aria-label="Next">
                        <span aria-hidden="true">&laquo;</span>
                     </a>
               <% } %>
            <% } %>
            <div class="URL-bar"><h6>Page <%= page %>/<%= totalPages %></h6></div>
            <% if (page == totalPages) { %>
               <a aria-label="Next" class="URL-bar--next tab disabled">
                  <span aria-hidden="true">&raquo;</span>
               </a>
            <% } else { %>
                  <a href="?page=<%= Number(page) + 1 %>" class="URL-bar--next tab" aria-label="Next">
                     <span aria-hidden="true">&raquo;</span>
                  </a>
            <% } %>
         </ul>
      <% } %>
   </div>
</nav>