:root {
    --text-color: #FFE0F4;
    --bg-color: #512641;
    --bg-flower: url('../assets/pink_sakura.png');
}

* {
    box-sizing: border-box;
    color: var(--text-color);
}

body {
    margin: 0;
    padding: 0;
    background-image: var(--bg-flower);
    background-size: 0.5rem;
    background-color: var(--bg-color);
}

